!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ReactBackend
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'http://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css'

  %body.mdc-typography--body1
    = yield

    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js', "data-turbolinks-eval" => false
    = javascript_include_tag 'bundle.js', "data-turbolinks-eval" => false
